__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

*.db
*.sqlite3

logs/
*.log

*.dockerignore

.DS_Store
Thumbs.db

locales/*.json.backup

architecture.txt
fix_aiogram.sh
fix_config.sh
logs
docker/nginx
docker/postgres/init.txt
src/domain
src/utils